@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", Arial, sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: hidden;
}
h1 {
	display: block;
	position: relative;
	z-index: 0;
	margin-top: 125px;
	margin-bottom: 40px;
	padding-left: 30px;
	width: 950px;
	font-size: 73px;
	line-height: 80px;
	letter-spacing: 4px;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
}

h1:after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 84%;
	width: 76%;
	content: '';
	border-bottom: 1.2rem solid #1ed4be;
}

h2 {
	display: block;
	position: relative;
	text-align: center;
	z-index: 0;
	margin-top: 125px;
	margin: 0 auto;
	width: 500px;
	font-size: 33px;
	line-height: 41px;
	letter-spacing: 2px;
	color: #000000;
	font-weight: 900;
	text-transform: uppercase;
}

h2:after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 84%;
	left: 4%;
	width: 92%;
	content: '';
	border-bottom: 10px solid #1ed4be;
}

h3 {
	width: 450px;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 1px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
}

/*main-block*/
.main-container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.first-screen {
	display: flex;
	min-height: 750px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: url(../img/bg_main.png) no-repeat transparent;
	background-size: cover;
	background-position: 60%;
}

.header {
	width: 100%;
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
}
.logo {
	padding-left: 30px;
	margin-top: 34px;
	display: flex;
	flex: none;
	align-items: center;
}
.nav {
	padding-right: 30px;
	margin-top: 47px;
	display: flex;
}
.nav-itm {
	padding: 0 40px;
	font-size: 15px;
	line-height: 15px;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-itm:hover {
	background-color: #1ed4be; 
}

.nav-add {
	display: flex;
	position: relative;
}

.enter {
	padding: 0 40px;
	font-size: 15px;
	line-height: 15px;
	z-index: 0;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.enter:hover {
	background-color: #1ed4be; 
}

.enter:after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 25px;
	width: 41px;
	content: '';
	border-bottom: 4px solid #1ed4be;
}

.tube {
	display: flex;
	width:33px;
	height: 33px;
	margin-left: 10px;
	background-image: url('../img/tube.png');
	background-repeat: no-repeat;
}

.tube:hover {
	background-image: url('../img/tube_hover.png');
}

.main { 
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.white {
	color: white;
}

p {
	margin: 0;
	padding-left: 30px;
	font-weight: 300;
	font-size: 21px;
	line-height: 32px;
}

.button{
	margin-top: 55px;
	margin-left: 30px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 322px;
	height: 61px;
	border-radius: 30px;
	font-size: 15px;
	line-height: 32px;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
}

.button_green {
	background-image: linear-gradient(90deg, #00b1bb 0%, #3be789 100%);
}
.button_green:hover{
	background-image: none;
	background-color: #3be78b;
}
.button_green:active{
	background-image: none;
	background-color: #01b3bb;
}

.button_little {
	height: 45px;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 32px;
}

.button_blue {
	background-image: linear-gradient(90deg, #0f2775 0%, #0051b5 100%);
}
.button_blue:hover{
	background-image: none;
	background-color: #004fb3;
}
.button_blue:active{
	background-image: none;
	background-color: #0d2977;
}

.triggers {
	width: 720px;
	margin-top: 90px;
	margin-bottom: 165px;
	padding-left: 30px;
	display: flex;
	justify-content: space-between;
}

.trigger {

}

.trigger p {
	width: 190px;
	font-size: 17px;
	line-height: 21px;
	font-weight: 300;
}

.trigger img {
	padding-left: 30px;
	margin-bottom: 30px;
}



/*Desc-block*/

.desc {
	margin-top: 85px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}
.desc-pic {
	margin-right: 70px;
}

.desc-text {
	position: relative;
	max-width: 650px;
}

.desc-text p{
	margin-top: 30px;
	font-size: 15px;
	line-height: 25px;
}

.desc-text p:first-child {
	font-weight: bold;
	font-size: 25px;
	line-height: 33px;
}

.desc-text p:first-child:after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 50px;
	width: 550px;
	content: '';
	border-bottom: 10px solid #1ed4be;
}

.desc-text p:last-child {
	margin-top: 20px;
}

.desc-text a {
	margin-top: 65px;
}

/*Participant-block*/

.participants {
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 190px;

}
.part-line {
	width: 100%;
	z-index: -1;
	top: 220px;
	position: absolute;
}
.part-imgs {
	z-index: -1;
	top: 180px;
	position: absolute;
	align-self: center;
}
.parts {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.part {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 132px;
	padding: 0 135px 0 135px;
}
.parts p {
	margin-top: 20px;
	padding-left: 0;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}
.part-atom {
	display: block;
	width: 289px;
	position: absolute;
	top: 350px;
	left: 60px;
	z-index: -1;
}


/*Why-block*/
.why {
	padding-top: 75px;
	margin-bottom: 105px;
	background-color: red;
	height: 680px;
	display: flex;
	justify-content: center;
	background: url('../img/bg_why.png') no-repeat transparent;
	background-size: cover;
	position: relative;
}
.why-pic {
	margin-left: 30px;
}
.why-text {
	width: 620px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.why-text h2 {
	margin-left: 0;
	color: #ffffff;
	margin-bottom: 65px;
}

.why-text h2:after {
	display: block;
	position: absolute;
	z-index: -1;
	top: 76%;
	left: 2%;
	width: 55%;
	content: '';
	border-bottom: 10px solid #1ed4be;
}

.why-text p {
	margin-left: 0;
	color: #ffffff;
}

.reason {
	padding-bottom: 35px;
	display: flex;
	flex-wrap: wrap;
}

.reason img {
	width: 69px;
	height: 69px;
}

.reason h3 {
	padding-left: 25px;
	font-size: 17px;
	line-height: 21px;
	font-weight: 700;
	letter-spacing: 1px;
}

.reason p {
	width: 465px;
	padding-left: 94px;
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}

.why-atom {
	display: block;
	position: absolute;
	-z-index: 1;
	right: 35px;
	bottom: -165px;
}

/*Differences block*/

.differences {
	margin-bottom: 205px;
	display: flex;
	flex-direction: column;
}

.differences h2 {
	margin: 0;
	margin-bottom: 60px;
	margin-right: 830px;
	align-self: center;
	width: auto;
}

.differences h2:after {
	top: 73%;
	left: 33%;
	width: 68%;
}

.diffs {
	display: flex;
	justify-content: center;
}

.diff {
	display: flex;
	align-items: center;
}

.diffs p {
	width: 300px;
}

.how {
	position: relative;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.how h2:after {
	top: 65%;
	left: 2%;
	width: 53%;
}

.how h2 {
	margin-bottom: 140px;
}

.how h3 {
	margin: 0;
	margin-bottom: 5px;
	margin-left: 50px;
	color: #000000;

}

.how p {
	margin-left: 105px;
	width: 260px;
	font-size: 15px;
	line-height: 21px;
	padding: 0;
	
}

.how .button {
	width: 367px;
	height: 47px;
	border-radius: 23px;
}

.how .step .button {
	width: 327px;
}

.how span {
	text-align: center;
	margin-right: 15px ;
	display: inline-block;
	width: 38px;
	height: 38px;
	background-color: #0f2775;
	border-radius: 19px;
	font-size: 17px;
	line-height: 38px;
	color: #ffffff;
}
.how .part-atom {
	top: 95%;
	left: 75%;
}

.steps {
	margin-bottom: 35px;
	width: 910px;
	height: 910px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: 
		url('../img/how_pics.png') 0 185px no-repeat,
		url('../img/how_line.png') 455px 0 no-repeat,
		url('../img/how_miniline.png') 520px 295px no-repeat,
		url('../img/how_miniline.png') 520px 720px no-repeat,
		url('../img/how_miniline.png') 360px 510px no-repeat;
}

.step {
	width: 455px;
}

.step1 {
	order: 1;
	height: 280px;
}
.step3 {

	order: 2;
	height: 430px;
}
.step5 {
	order: 3;
	height: 190px;
}

.step2 {
	margin-left: 105px;
	padding-top: 70px;
	order: 4;
	height: 430px;
}
.step4 {
	margin-left: 105px;
	order: 5;
	height: 400px;
}

.reviews {
	margin-bottom: 55px;
	height: 1180px;
	background: url('../img/bg_reviews.png') no-repeat transparent;
	background-size: cover;
	background-position: 60%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.reviews h2 {
	margin: 100px 1080px 40px 0;
	width: 440px;
	text-align: left;
	color: #ffffff;
}
.reviews p {
	padding: 0;
	margin: 0 350px 140px 0;
	width: 440px;
	text-align: left;
	color: #ffffff;
	font-size: 15px;
	line-height: 23px;
}
.reviews h2:after {
	top: 32%;
	left: 0%;
	width: 53%;
}
.reviews .reviews-group {
	position: absolute;
	bottom: 0%;
	right: 18%;
}

.slider-block {
	width: 1525px;
	display: flex;
}
.slider-btns {
	display: flex;
}

.btns750 {
	display: none;
}


.slider-left{
	width: 475px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
} 
.slider-right{
	min-width: 600px;
}
.review {
	min-height: 322px;
	width: auto;
	margin-right: 18px;
	border-radius: 10px;
	background-color: #ffffff;
}

.review p {
	width: auto;
	max-width: 540px;
	padding: 0;
	margin: 0 30px 30px 30px;
	color: #000000;
}
.review-author {
	margin-right: 15px;
	display: flex;
	padding: 30px 0 25px 30px;
	align-items: center;
}

.review-photo {
	margin-right: 15px;
	display: flex;
	width: 56px;
	height: 56px;
	border-radius: 28px;

}

.join {
	margin-bottom: 240px;
	display: flex;
	justify-content: center;
}

.join-wrapper {
	width: 1140px;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.join-wrapper h2 {
	width: 360px;
	margin: 0 0 40px 0px;
	text-align: left;
}

.join-wrapper p {
	padding-left: 0;
	width: 970px;
	font-size: 15px;
	line-height: 23px;
}

.join-wrapper h2:after {
	top: 30%;
	left: 0%;
	width: 99%;
}


.application {
	display: flex;
	justify-content: center;
	
}
.app-wrapper {
	width: 1140px;
	bottom: 340px;
	height: 342px;
	border-radius: 10px;
	background: linear-gradient(90deg, #00b1bb 0%, #3be789 100%);
	position: absolute;
}

.app_plane {
	position: absolute;
	top: -13%;
	right: 0%;
}
.application p {
	margin-top: 50px;
	padding-left: 40px;
	width: 470px;
	font-size: 27px;
	letter-spacing: 1px;
	line-height: 35px;
	color: #ffffff;
}
.application .button {
	margin-left: 40px;
}

.footer {
	padding-bottom: 40px;
	background-image: linear-gradient(90deg, #0f2571 0%, #013b8b 100%);
	display: flex;
	justify-content: center;
}

.footer a {
	color: #ffffff;
	text-decoration: none;
	font-size: 13px;
	line-height: 32px;
}
.about1 a:hover, .about2 a:hover {
	background-color: #1ed4be; 
}

.footer p {
	padding-left: 0;
	margin-bottom: 40px;
	color: #ffffff;
	font-size: 13px;
	line-height: 23px;
	font-weight: 300;
}
.footer .logo {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
.footer .enter {
	width: 40px;
	padding: 0;
	justify-content: flex-start;

}
.footer .enter:after {
	top: 49%;
	width: 40px;
}
.footer .button {
	margin: 0;
	margin-top: 30px;
	width: 230px;
	height: 51px;
	border-radius: 25px;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 27px;
	color: rgb(30,212,190);
	background: url('../img/phone.png');
	background-position: 12px 50%;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-color: #0f2775;
	color: #ffffff;
}
.footer .button:hover {
	background-color: #004fb3;

}
.footer-wrapper {
	margin-top: 285px;
	width: 1140px;
	display: flex;
	justify-content: space-between;
}
.col {
	margin-right: 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.adress p:last-child{
	margin-bottom: 0;
}
.about1, .about2 {
	margin-top: 10px;
}
.about2 {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.phone {
	text-align: right;
	margin-right: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.phone a:first-child {
	font-size: 21px;
	line-height: 21px;
}

.review {
	width: auto;
}

.quantity {
	margin-top: 120px;
	width: 500px;
	height: 300px;
	align-self: flex-start;
}

.quantity p {
	padding: 0;
	margin: 0;
	display: flex;

}

.quantity p:first-child {
	font-size: 53px;
	letter-spacing: 2px;
	line-height: 53px;
	font-weight: 900;
	text-transform: uppercase;
}
.quantity p:last-child {
	margin-top: 20px;
	margin-left: 90px;
	width: 260px;
	font-size: 15px;
	line-height: 23px;
}

.quant-block {
	margin-bottom: 55px;
	width: 385px;
	height: 110px;	

}
.ball {
	margin-right: 30px;
	display: flex;
	width: 56px;
	height: 56px;
	border-radius: 28px;

}

.ball_green {
	background-image: radial-gradient(circle at center, #dbfbf9 1%, #71ffcb 52%, #33c5b9 100%);
}

.ball_blue {
	background-image: radial-gradient(circle at center, #5febf1 0%, #3966d2 64%, #173b89 100%);
}



@media screen and (max-width: 1530px)  {
	.nav-itm {
		display: none;
	}

	h1 {
		margin-top: 95px;
		margin-bottom: 30px;
		width: 550px;
		font-size: 45px;
		letter-spacing: 2px;
		line-height: 50px;
	}

	p {
		font-size: 17px;
		line-height: 25px;
	}

	.triggers {
		flex-direction: column;
		margin-top: 55px;
	}

	.trigger {
		display: flex;
	}
	.trigger img {
		padding-left: 0px;
	}

	.desc {
		flex-direction: column;
		align-items: center;
		margin-top: 55px;
	}
	.desc-text {
		margin-bottom: 50px;
	}

	.desc-pic {
		align-self: center;
	}
	.part-imgs {
		display: none;
	}
	.part {
		padding: 0 60px 0 60px;
	}
	.part-atom {
		display: none;
	}
	.why {
		margin-bottom: 75px;
		flex-direction: column;
		align-items: center;
		height: 1242px;
	}
	.why-text {
		margin-bottom: 50px;
	}
	.why-pic {
		margin-left: 0;
	}
	.reason {
		margin-bottom: 50px;
	}
	.why-atom {
		display: none;
	}
	
	.differences {
		margin-bottom: 135px;
		align-items: center;
	}

	.differences h2 {
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.diffs {
		flex-direction: column;
		align-items: center;
	}

	.diff {
		margin-bottom: 30px;
		flex-direction: column;
	}
	.diff img {
		margin-bottom: 15px;
	}

	.diff p {
		padding: 0;
		text-align: center;
	}

	.how {
	margin-bottom: 100px;
	}

	.how h2 {
		margin-bottom: 50px;
	}


	.how h3 {
		margin: 0;
		margin-bottom: 5px;
		margin-left: 30px;
		color: #000000;

	}

	.how p {
		margin-left: 85px;
		width: 260px;
		font-size: 15px;
		line-height: 21px;
		padding: 0;
	}
	.how .part-atom {
		display: none;
	}

	.steps {
		margin-bottom: 20px;
		width: 750px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background: 
			url('../img/how_pics2.png') 30px 185px no-repeat,
			url('../img/how_line.png') 375px 0 no-repeat;
	}

	.step {
		width: 350px;
	}

	.step1 {
		order: 1;
		height: 280px;
	}
	.step3 {

		order: 2;
		height: 430px;
	}
	.step5 {
		order: 3;
		height: 190px;
	}

	.step2 {
		margin-left: 5px;
		padding-top: 60px;
		order: 4;
		height: 430px;
	}
	.step4 {
		margin-left: 5px;
		order: 5;
		height: 400px;
	}
	.join {
		margin-bottom: 210px;
	}
	.join-wrapper {
		width: 750px;
	}
	.join-wrapper h2 {
		margin: 0 0 40px 15px;
	}
	.join-wrapper p {
		padding-left: 15px;
		padding-right: 15px;
		width: auto;
	}
	.app_plane {
	display: none;
	}
	.app-wrapper {
	width: 720px;
	bottom: 470px;
	}
	.review {
		width: 720px;
	}
	.reviews-group {
		display: none;
	}

	.footer-wrapper {
		margin-top: 220px;
		width: 720px;
		flex-wrap: wrap;
	}
	.footer .logo {
	    margin-bottom: 35px;
	}
	.footer p {
	    margin-bottom: 25px;
	}
	.footer .enter:after {
		top: 51%;
		left: -0.5%;
	}
	.adress {
		width: 720px;
		margin-bottom: 45px;
		display: flex;
		flex-direction: column;
		align-items: center; 
		text-align: center;
	}
	.reviews {
		align-items: center;
	}
	.reviews-wrapper {
		max-width: 720px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		
	}
	.slider-block {
		width: 750px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.reviews p {
		margin-bottom: 45px;
	}
	.btns1920 {
		display: none;
	}
	.btns750 {
		display: block;
		margin-top: 30px;
	}

	.quantity {
		display: flex;
		margin-top: 60px;
		align-self: flex-start;
	}
	.quantity p:first-child {
		margin-bottom: 0;
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 29px;
		display: flex;
		align-items: center;

	}
	.quantity p:last-child {
		margin-top:  0px;
	}


}

@media screen and (max-width: 749px)  {
	.first-screen {
		background-position: 40%;
	}
	.logo img{
		width: 130px;
	}
	.nav {
		margin-top: 34px;
		padding-right: 15px;
	}
	.enter {
		padding: 8px;
	}
	h1 {
		padding-left: 15px;
		margin-top: 65px;
		margin-bottom: 25px;
		width: 300px;
		font-size: 25px;
		letter-spacing: 1px;
		line-height: 33px;
	}

	h2 {
		width: 320px;
		font-size: 21px;
		line-height: 27px;
		letter-spacing: 1px;
	}

	h1:after {
		z-index: -1;
		top: 80%;
		border-bottom: 10px solid #1ed4be;
	}

	p {
		padding-left: 15px;
		font-size: 15px;
		line-height: 21px;
	}

	.button {
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 26px;
		width: 290px;
		height: 49px;
		margin-left: 15px;
		margin-top: 30px;
	}

	.triggers {
		padding-left: 15px;
		flex-direction: column;
		margin-top: 30px;
		margin-bottom: 100px;
	}

	.trigger {
		max-width: 225px;
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	.trigger p {
		font-size: 13px;
		line-height: 15px;
	}

	.trigger img {
		width: 61px;
		margin-bottom: 0;
	}
	.desc-text {
		max-width: 290px;
	}
	.desc-text p {
		font-size: 13px;
		line-height: 17px;
	}
	.desc-text p:first-child {
		font-weight: bold;
		font-size: 17px;
		line-height: 23px;
	}

	.desc-text p:first-child:after {
		top: 45px;
		width: 240px;
		content: '';
		border-bottom: 5px solid #1ed4be;
	}
	.desc-pic {
		margin-right: 0;
	}
	.desc-pic img {
		width: 290px;
	}
	.desc-text a {
		margin-left: 0px;
	}
	.participants {
		margin-top: 60px;
		margin-bottom: 50px;
	}
	.part-line {
		display: none;
	}
	.parts {
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
	}
	.part p{
		margin-top: 13px;
	}
	.part img {
		margin-top: 30px;
	}
	.why {
		margin-bottom: 40px;
		align-items: center;
		height: 950px;
	}
	.why-text {
		width: 320px;
		margin-bottom: 35px;
		padding-left: 15px;
		justify-content: center;
		align-items: flex-start;
	}

	.why-pic img{
		width: 290px;
		height: 280px;
	}
	.why-text h2 {
		margin: 0;
		display: flex;
		width: 170px;
		color: #ffffff;
		margin-bottom: 35px;
		font-size: 21px;
		line-height: 27px;
		letter-spacing: 1px;
		text-align: left;
}
		

	.why-text h2:after {
		display: block;
		position: absolute;
		z-index: -1;
		top: 45%;
		left: -2%;
		width: 102%;
		content: '';
		border-bottom: 10px solid #1ed4be;
	}
	.reason {
		width: 290px;
		padding-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
	}

	.reason img {
		width: 54px;
		height: 54px;
	}

	.reason h3 {
		width: 225px;
		padding-left: 10px;
		font-size: 15px;
		line-height: 19px;
		font-weight: 700;
	}

	.reason p {
		width: 290px;
		padding-left: 65px;
		font-size: 13px;
		line-height: 17px;
		font-weight: 300;
	}

	.differences {
		margin-bottom: 75px;
		align-items: center;
	}

	.differences h2 {
		width: 220px;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	.differences h2:after {
		top: 32%;
		left: -2%;
		width: 102%;
	}

	.diffs {
		flex-direction: column;
		align-items: center;
	}

	.diff {
		margin-bottom: 30px;
		flex-direction: column;
	}
	.diff img {
		width: 97px;
		margin-bottom: 15px;
	}

	.diff p {
		width: 220px;
		padding: 0;
		text-align: center;
		font-size: 13px;
		line-height: 17px;
	}
	
	.how {
		margin-bottom: 45px;
	}
	.how h2 {
		width: 290px;
		margin-bottom: 30px;
	}
	.how h2:after {
		top: 30%;
		left: 21%;
		width: 58%;
	}

	.how h3 {
		margin-left: 20px;
		font-size: 15px;
		line-height: 21px;
	}

	.how p {
		margin-left: 70px;
		width: 220px;
		font-size: 13px;
		line-height: 17px;
	}
	.how .button {
		width: 290px;
		font-size: 11px;

	}
	.how .step .button {
		justify-content: left;
		padding-left: 5px;
		width: 286px;
		height: 38px;
	}
	.how span {
		margin-left: ;
		margin-right: 20px;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		font-size: 14px;
		line-height: 30px;
	}

	.steps {
		height: auto;
		margin-bottom: 20px;
		width: 320px;
		flex-direction: column;
		flex-wrap: nowrap;
		background-image: none;
	}

	.step {
		height: auto;
		margin-bottom: 30px;
	}

	.step1 {
		padding: 0;
		order: 1;
	}
	.step3 {
		padding: 0;
		order: 3;
	}
	.step5 {
		margin-bottom: 0px;
		order: 5;
	}

	.step2 {
		margin-left: 0;
		padding: 0;
		order: 2;
	}
	.step4 {
		margin-left: 0;
		padding: 0;
		order: 4;
	}
	.join {
		margin-top: -150px;
		margin-bottom: 125px;
	}
	.join-wrapper {
		width: 320px;
	}
	.join-wrapper h2:after {
		top: 30%;
		width: 68%;
	}
	.join-wrapper p {
		font-size: 13px;
		line-height: 17px;
	}
	.app_plane {
		display: none;
	}
	.app-wrapper {
		height: 225px;
		width: 290px;
		bottom: 700px;
	}
	.application p {
		padding-left: 20px;
		width: 250px;
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 21px;
	}
	.application .button {
		margin-top: 20px;
		margin-left: 20px;
		width: 248px;
		height: 49px;
		border-radius: 24px;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 26px;
	}
	.footer-wrapper {
		margin-top: 150px;
		width: 320px;
		flex-wrap: wrap;
	}
	.footer .logo {
	    margin-bottom: 35px;
	}
	.footer p {
	    margin-bottom: 25px;
	}
	.footer .enter:after {
		top: 85%;
		left: 43.4%;
	}
	.col {
		width: 320px;
		margin-right: 0;
		flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	.adress {
		width: 320px;
		order: 1;
	}
	.phone {
		order: 2;
	}
	.about1 {
		order: 3;
	}
	.about2 {
		order: 4;
	}
	.reviews-wrapper {
		width: 300px;
	}
	.reviews h2 {
		margin-top: 45px;
		margin-bottom: 30px;
		width: 290px;
		font-size: 21px;
		letter-spacing: 1px;
		line-height: 27px;
	}
	
	.reviews p {
		width: 290px;
		font-size: 13px;
		line-height: 17px;
		margin-bottom: 20px;
	}
	.review {
		max-width: 300px;
	}
	.review p {
		margin-left: 15px;
	}
	.review-author {
		padding-left: 15px;
	}

	.quantity {
		margin-top: 55px;
		flex-direction: column;
		align-items: center;
		align-self: center;
	}
	.quant-block {
		width: 300px;
		margin-bottom: 45px;
	}
	.quantity p:first-child {
		margin-bottom: 0;
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 29px;
		display: flex;
		align-items: center;

	}
	.quantity p:last-child {
		margin-left: 75px;
		width: 230px;
		margin-top:  0px;
		font-size: 13px;
		line-height: 17px;
	}
	.ball {
		margin-right: 15px;
	}
}
	
	